# Dependencies
node_modules/
backend/node_modules/
mobile/node_modules/

# Env files
.env
backend/.env
mobile/.env

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Expo
mobile/.expo/

# Build outputs
dist/
backend/dist/
